<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DETAILS</title>
</head>
<body>
<table class="table table-dark table-striped">
    <thead>
      <tr>
        <th>NAME</th>
        <th>EMAIL</th>
        <th>AGE</th>
          <th>GENDER</th>
          <th></th>
          <th></th>

      </tr>
    </thead>
    <tbody>
      {% for x in data %}
      <tr>
       <th scope="row">{{ x.id }}</th>
        <td>{{ x.name }}</td>
       <td>{{ x.email }}</td>
          <td>{{ x.age }}</td>
          <td>{{ x.gender }}</td>
          <td><a href="/edit/{{ x.id }}" type="button" class="btn btn-success">EDIT</a></td>
          <td><a href="/delete/{{ x.id }}" type="button" class="btn btn-danger">DELETE</a></td>
      </tr>
    {% endfor%}

    </tbody>
  </table>
{% endlock% }
</body>
</html>